{% load static %}

<!doctype html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <title>Cadastro de estudante</title>
</head>
<body>

      <div id="cadastro">
        <form method="POST" action="{% url 'cadastro' %}">
             {% csrf_token %}

            <h1>Fixa de inscrição do projeto</h1>

            <p>
                <label for="nome_cad">Nome</label>
                <br>
                <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Ex: Luiz"/>

                <p>
                <label for="sobrenome_cad">Sobrenome</label>
                <br>
                <input id="sobrenome_cad" name="sobrenome_cad" required="required" type="text" placeholder="Ex: Augusto">
                </p>

                <p>
                    <label for="idade_cad">Idade</label>
                    <br>
                    <input id="idade_cad" name="idade_cad" required="required" type="number" placeholder="Ex: 20">
                </p>

                <p>
                    <label for="telefone_cad">Telefone</label>
                    <br>
                    <input id="telefone_cad" name="telefone_cad" required="required" type="tel" placeholder="Ex: 82 934732312">
                </p>

                <p>
                    <label for="cidade_cad">Cidade</label>
                    <br>
                    <input id="cidade_cad" name="cidade_cad" required="required" type="text" placeholder="Ex: Mamanguape"/>
                </p>

                <p>
                    <label for="email_cad">E-mail</label>
                    <br>
                     <input id="email_cad" name="email_cad" required="required" type="email" placeholder="Ex: contato@htmlecsspro.com"/>
                </p>

            </p>

            <button TYPE="submit">Cadastrar</button>

        </form>

    </div>

</body>
</html>
